name: PHPStan

on:
  pull_request:

jobs:
  phpstan:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        php:
          - "8.4"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php }}
          tools: composer:v2, cs2pr

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - name: Static analysis
        run: vendor/bin/phpstan analyse --configuration=phpstan.neon
